<p>Choose a profile to create a resume.</p>

<form method="post">
    <label for="profiles">Profile:</label>
    <select name="id" id="profiles"></select>
    <script id="profile-template" type="text/x-jquery-tmpl">
        <img src="${picture_url}">
        <h2>${name}</h2>
        <p>${headline}</p>
    </script>
    <div id="profile"></div>
    <p>LinkedIn doesn't allow access to email addresses, so you can optionally
       add an email address to the resume here.</p>
    <label for="email">Email:</label>
    <input name="email" id="email">
    <br>
    <a class="btn large" href="/logout">Logout</a>
    <input class="btn large primary" type="submit" value="Create resume">
</form>
