<p class="text"><%= @tagline %></p>
<a id="screenshot" data-controls-modal="modal-screenshot" data-backdrop="true"><img src="/img/screenshot.png"></a>
<br>
<a href="/login" class="btn large primary">Login via LinkedIn</a>
<div id="modal-screenshot" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>&nbsp;</h3>
    </div>
    <div class="modal-body">
        <img src="/img/screenshot.png">
    </div>
</div>
