<p><%= @tagline %></p>
<a data-controls-modal="modal-demo" data-backdrop="true">demo</a><br>
<a href="/login" class="btn large primary">Login via LinkedIn</a>

<div id="modal-demo" class="modal hide fade">
    <div class="modal-header">
          <a href="#" class="close">&times;</a>
          <h3>demo</h3>
    </div>
    <div class="modal-body">
          <p>img</p>
    </div>
</div>
